{% extends 'admin_home_index.html' %}
{% block body %}

<body><form action="/myapp/viewreviewpost/" method="post">
{% csrf_token %}

<table class="table table-bordered">
  <tr>
    <th>Sl.no</th>
    <th>Name</th>
       <th>Gender</th>
         <th>Dob</th>
    <th>Email</th>
      <th>Phone</th>
    <th>Place</th>


  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.name}}</td>
       <td>&nbsp;{{ i.gender }}</td>
         <td>&nbsp;{{ i.dob }}</td>
    <td>&nbsp;{{ i.email }}</td>

      <td>&nbsp;{{ i.phonenumber }}</td>
      <td>&nbsp;{{ i.place }}</td>

      <td><a href="/myapp/viewemotiongraph/{{ i.id }}" class="btn btn-warning">DiaryGraph</a></td>
      <td><a href="/myapp/viewfaceemotiongraph/{{ i.id }}" class="btn btn-danger">FaceGraph</a></td>
      <td><a href="/myapp/sendtips/{{ i.id }}" class="btn btn-success">Tips</a></td>



  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}